body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.profile {
  border: solid 2px black;
  width: 300px;
  height: 590px;
}
p {
  text-align: center;
  font-size: 15px;
  margin-left: 5px;
}
h2 {
  margin-left: 90px;
}
.about {
  display: flex;
}
.about p {
  background-color: blue;
  color: white;
  width: 90px;
  height: 40px;
}
li {
  text-decoration: none;
  list-style: none;
}
.skill {
  background-color: #f0f0f0;
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
}
.skills-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
.expert {
  background-color: rgb(125, 138, 125);
}
.advanced {
  background-color: orange;
}
.intermediate {
  background-color: yellow;
}
